@model SessionViewModel
@{
    ViewBag.Id = Convert.ToInt32(Context.Request.Query["Id"]);
}
<h1> about this session:</h1>
<p>Session Id: @ViewBag.Id</p>

<H1>
    @Html.Action("GetSessionById", "Session", new { SessionId = @ViewBag.Id });
</H1>

<br />
@if (@Model != null)
{
    <h1>@Model.x</h1>
    <br />
    <table class="table table-hover">
        <tr>
            <th>Code</th>
            <th>CreatedAt</th>
            <th>HeldAt</th>
            <th>AvgScore</th>
            <th>MeanScore</th>
            <th>StudentsCount</th>
            <th>Actions</th>
        </tr>
        <tr>
                <th>@Model.Code</th>
                <th>@Model.CreatedAt</th>
                <th>@Model.HeldAt</th>
                <th>@Model.AvgScore</th>
                <th>@Model.MeanScore</th>
                <th>@Model.StudentsCount</th>
                <th>
                    <a href="~/Quiz/Questions?Id=@Model.QuizId" class="btn btn-secondary">View Questions</a>
                </th>
            </tr>

    </table>

}
else
{
    <h3>no session by this id :(</h3>
}

